<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upen.rocecalculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6716761053101068~6834822308" />

        <activity
            android:name=".WebViewFin"
            android:exported="false"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upen.rocecalculator.ResultsActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:exported="false"
            android:label="@string/title_activity_results"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upen.rocecalculator.MainActivity" />
        </activity>
        <activity
            android:name=".FinancialStatementsActivity"
            android:exported="false"
            android:label="@string/title_activity_results"
            android:parentActivityName=".ResultsActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upen.rocecalculator.ResultsActivity" />
        </activity>
        <activity
            android:name=".manualCalcActivity"
            android:exported="false"
            android:label="@string/title_activity_manual_calc"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upen.rocecalculator.MainActivity" />
        </activity>
        <activity
            android:name=".InformationActivity"
            android:exported="false"
            android:label="@string/title_info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upen.rocecalculator.MainActivity" />
        </activity>
    </application>

</manifest>